body {
  font-family: "Zen Dots", cursive;
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    #fea8a8 137.3%
  );
  border: 4mm ridge rgba(207, 6, 22, 0.6);
  padding: 11.5px;
  margin: 0 auto;
}

h1 {
  color: red;
  font-size: 45px;
  text-align: center;
}

form {
  position: relative;
  padding: 20px 20px;
  font-size: 25px;
  text-align: center;
}

h2 {
  position: relative;
  bottom: 20px;
  color: red;
  text-align: center;
}

footer {
  color: red;
  text-align: center;
  position: relative;
  top: 10px;
}

.City,
.Day,
.Description,
.Conditions {
  position: relative;
  top: 25px;
  color: purple;
  font-size: 25px;
  text-align: center;
}

.Temperature {
  position: relative;
  top: 45px;
  left: 20px;
  font-size: 50px;
  color: blue;
}

.units {
  color: blue;
  position: relative;
  right: -20px;
  top: 20px;
}

#Main-Emoji {
  position: relative;
  left: 250px;
  bottom: 50px;
}

.container-forecast {
  position: relative;
  width: 50%;
  top: 2px;
  bottom: 70px;
  left: 50px;
  color: blue;
  margin: 0 auto;
  text-align: center;
}

.Future-Day {
  font-size: 20px;
}

.Future-Emoji {
  position: relative;
  top: 3px;
}

.Max-Temperature,
.Min-Temperature {
  font-size: 12px;
}
